.git
.gitignore
.env
.env.*
!.env.example
.venv
venv
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/node_modules
frontend/dist
backend/storage/uploads/**
docs
*.md
!backend/storage/README.md
